* {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

html, body, #app {
    width: 100%;
    height: 100%;
}

:root {
    --el-font-size-base: 16px;
}

body {
    background-image: url('../public/backimage.jpg');
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, .8);
    background-size: cover;
    background-blend-mode: screen;
    font: 16px/1.5 'Microsoft Sans Serif', serif;
}

.mq-box {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: "Microsoft Sans Serif", serif;
}

.mq-box .mq-option {
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: space-between;
    align-items: stretch;
}

